@media (max-width: 620px) {
    .carro-slider {
      padding: 0px 15px;
      gap: 10px;
    }
  
    .btn-seta {
      width: 20px;
      height: 20px;
      padding: 20px;
    }
  
    .lista-carros {
      height: 480px;
    }
  
    .cartao .imagem-carro {
      max-height: 280px;
      padding: 20px;
    }
  
    .cartao .informacoes .nome {
      max-width: 50%;
      font-size: 18px;
    }
  
    .cartao .informacoes .vida {
      font-size: 14px;
    }
  }